git+https://github.com/wso2/agent-manager.git@1fc4cec39c65cd5b0ca1cbd5e7a1dd54904e313a#subdirectory=libs/amp-evaluation
litellm==1.81.14
unsloth
datasets
huggingface_hub
scikit-learn
pandas
numpy
tqdm
opentelemetry-api==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
opentelemetry-instrumentation==0.59b0
opentelemetry-instrumentation-requests==0.59b0
opentelemetry-util-http==0.59b0
pydantic-settings
google-cloud-bigquery-storage
fsspec
